.main-container {
  height: 100%;
  margin: 0;
  background-color: #000000ec;
}

.player {
  grid-area: menu;
  max-height: 500px;
  min-height: 50px;
  max-width: 100%;
  min-width: 50px;
}

.rightpanel {
  grid-area: right;
  min-width:350px;
  
}

.tracks {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu menu right'
    'footer footer right';
  gap: 10px;
  padding: 10px;
  overflow: hidden;
  margin: 0;
}

.grid-container > div {
  /* text-align: center; */
  font-size: 20px;
}


.tracks {
  height: 50vh;
  max-height: 200px;
  min-height: 50px;
}

/*track section*/

.next-tracks-title {
  color: white;
}

.next-tracks-container {
  margin-top: 7px;
  max-width: 100%;
  min-width:100px;
  margin-left:10px;
  max-height: 200px;
  min-height: 100px;
  overflow-y: auto;
}

.next-track {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.next-track-number {
  flex: 0 0 50px;
  color: white;
}

.ntrack-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.ntrack-info {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.sticky-title {
  position: sticky;
  top: 0;
  z-index: 1;
}

.ntrack-title,
.ntrack-artist,
.ntrack-playtime,
.ntrack-listens,
.ntrack-likes {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 65px;
  min-width:60px;
  font-size: 12px;
  color: #ababab;
}

.track-details-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ntrack-info > div {
  margin-right: 50px;
}

.ntrack-title {
  font-weight: bold;
}

.ntrack-playtime,
.ntrack-listens,
.ntrack-likes {
  display: flex;
  align-items: center;
}

.ntrack-playtime .icon,
.ntrack-listens .icon,
.ntrack-likes .icon {
  margin-right: 5px;
}

.nplay-button {
  background-color: #c20000 !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  color: white !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.nplay-button:hover {
  background-color: darkred !important;
}
/* Hide scrollbar */
.next-tracks-container::-webkit-scrollbar {
  width: 0px; 
}

/* Optional: Customize scrollbar appearance */
.next-tracks-container::-webkit-scrollbar-track {
  background: #d10000; /* Set track color */
}

.next-tracks-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; 
}


/*MUSIC PLAYER  */
.player {
  grid-area: menu;
  display: flex;
  position:relative;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
}

.music-player-box {
  grid-area: menu;
  background-color: transparent; /* Box background color */
  border: 2px solid #c20000; /* Box border */
  border-radius: 15px; /* Rounded corners */
  padding: 20px; /* Padding inside the box */
  margin: 10px 10px 10px 10px;
  max-height: 330px; /* Fixed height for the player */
  min-height:310px;
  overflow: hidden; /* Hide overflow content */
}

.song-info {
  text-align: center;
  color: #d4d4d4;
  max-height: 80px; /* Limit the height of the song information section */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.controls .MuiButtonBase-root {
  border-radius: 50%; /* Make the buttons circular */
  background-color: #c20000; /* Set the accent color */
  color: white; /* Set text color to white */
  margin: 0 10px;
}

/* Optional: Add hover effect */
.controls .MuiButtonBase-root:hover {
  background-color: #aa0000; /* Darker accent color on hover */
}

.controls {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
}




.progress-bar {
  position: relative;
  bottom: 70px;
  left: 40px;
  width: 90%;
  
}

.progress-bar .MuiLinearProgress-bar {
  background-color: #c20000; /* Set the color of the progress bar */
}

/* RIGHT PANEL */
.rightpanel {
  margin-top: 20px;
}
.buttons-container {
  display: flex;
  gap: 10px; /* Adjust the gap between buttons */
  justify-content: space-evenly;
  font-size: 14px;
}

.buttons-container button {
   /* Each button takes up an equal portion of the available space */
  background-color: transparent;
  border: 1px solid #918888; /* Border color for inactive buttons */
  border-radius: 5px; /* Border radius */
  color: white;
  cursor: pointer;
  height: 40px; /* Adjust the height of the buttons */
  width: 90px;
}



.buttons-container button.active {
  background-color: #c20000;
  border-color: #c20000;
}

.buttons-container button.active:hover {
  background-color: #aa0000;
  border-color: #aa0000;
}

.playlist-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  grid-gap: 10px;
}

.lyrics-container,
.playlist-container {
  color: #c2c2c2;
  margin-top: 10px;
  max-height: 450px;
  max-width: 350px;
  width: 100%;
  overflow-y: auto;
}
.lyrics-container {
  max-width: 350px;
  /* margin-left: 10px; */
}
.lyrics-container::-webkit-scrollbar {
  width: 0px;
}
.playlist-container::-webkit-scrollbar {
  width: 0px; 
}
.playlist-track .playlist-track-play-button {
  margin-left: auto; /* Pushes the play button to the far right */
  color: #c20000;
}
.playlist-track-play-button:hover {
  color: #660000; /* Darker accent color on hover */
}
.lyrics-content {
  white-space: pre-line; /* Preserve line breaks and wrap text */
}
.playlist-track-info {
  color: #a1a1a1;
}

.playlist-track {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.playlist-track-number {
  margin-right: 10px;
}

.playlist-track-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}
.playlist-track-artist {
  font-size: 14px;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

