.main-container {
  height: 100%;
  margin:0;
  background-color: #000000ec;
}
.musicplayer { grid-area: menu; }
.rightpanel { grid-area: right; }
.tracks { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu menu right'
    'footer footer right';
  gap: 10px;
  padding: 10px;
  overflow: hidden;
  margin:0;
}

.grid-container > div {
  text-align: center;
  font-size: 20px;
}

.musicplayer {
  height: 50vh;
  max-height: 500px;
  min-height: 50px;
}
.tracks {
  height: 50vh;
  max-height: 220px;
  min-height: 50px;
}
.rightpanel {
  width: 100%;
  max-width:500px;
  min-width:10px;



/*track section  */
  